.App {
  text-align: center;
}

.loading-btn {
  background-image: -webkit-linear-gradient(
    left,
    rgb(203 213 225) 0px,
    #ffffff 110px,
    rgb(203 213 225) 110px
  );
  background-image: -o-linear-gradient(
    left,
    rgb(203 213 225) 0px,
    #ffffff 110px,
    rgb(203 213 225) 110px
  );
  background-image: linear-gradient(
    90deg,
    rgb(203 213 225) 0px,
    #ffffff 110px,
    rgb(203 213 225) 110px
  );
  background-size: 100vw;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}
